.sw-cms-block-myfav-layout-column-2--6-6 {
    display: flex;
    gap: 40px;

    .sw-cms-slot.sw-cms-slot-myfavSlot1 {
        width: 50%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot2 {
        width: 50%;
    }
}