{% block sw_cms_block_myfav_layout_column_2__5_7 %}
    <div class="sw-cms-block-myfav-layout-column-2--5-7">
        <slot name="myfavSlot1">{% block sw_cms_block_myfav_layout_column_2__5_7_slot_myfavSlot1 %}{% endblock %}</slot>
        <slot name="myfavSlot2">{% block sw_cms_block_myfav_layout_column_2__5_7_slot_myfavSlot2 %}{% endblock %}</slot>
    </div>
{% endblock %}