.sw-cms-block-myfav-layout-column-2--5-7 {
    display: flex;
    gap: 40px;

    .sw-cms-slot.sw-cms-slot-myfavSlot1 {
        width: 41.6%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot2 {
        width: 58.3%;
    }
}