{% block sw_cms_block_myfav_layout_column_4__3_3_3_3 %}
    <div class="sw-cms-preview-myfav-layout-column-4--3-3-3-3">
        <div>
            <h2>Myfav Layout Column 3 vs 3 vs 3 vs 3</h2>
            <p>Vier Spalten, nebeneinander ab Größe md (3, 3, 3, 3).</p>
        </div>
    </div>
{% endblock %}