{% block sw_cms_block_myfav_layout_column_2__8_4 %}
    <div class="sw-cms-preview-myfav-layout-column-2--8-4">
        <div>
            <h2>Myfav Layout Column 8 vs 4</h2>
            <p>Zwei Spalten, nebeneinander ab Größe md (8 und 4).</p>
        </div>
    </div>
{% endblock %}