{% block sw_cms_block_myfav_layout_column_5__1_1_1_1_1 %}
    <div class="sw-cms-preview-myfav-layout-column-5--1-1-1-1-1">
        <div>
            <h2>Myfav Layout Column 1 vs 1 vs 1 vs 1 vs 1</h2>
            <p>Fünf Spalten, nebeneinander ab Größe flex-basis (1, 1, 1, 1, 1).</p>
        </div>
    </div>
{% endblock %}