.sw-cms-block-myfav-layout-column-3--2-8-2 {
    display: flex;
    gap: 40px;

    .sw-cms-slot.sw-cms-slot-myfavSlot1 {
        width: 16.6%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot2 {
        width: 66.8%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot3 {
        width: 16.6%;
    }
}