<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_myfav_listing_product_preview %}
<div class="sw-cms-el-preview-myfav-listing-product  myfav-element-preview-container">
    <h1>Here comes the content</h1>
</div>
{% endblock %}
