{% block sw_cms_block_myfav_layout_column_4__3_3_3_3 %}
    <div class="sw-cms-block-myfav-layout-column-4--3-3-3-3">
        <slot name="myfavSlot1">{% block sw_cms_block_myfav_layout_column_4__3_3_3_3_slot_myfavSlot1 %}{% endblock %}</slot>
        <slot name="myfavSlot2">{% block sw_cms_block_myfav_layout_column_4__3_3_3_3_slot_myfavSlot2 %}{% endblock %}</slot>
        <slot name="myfavSlot3">{% block sw_cms_block_myfav_layout_column_4__3_3_3_3_slot_myfavSlot3 %}{% endblock %}</slot>
        <slot name="myfavSlot4">{% block sw_cms_block_myfav_layout_column_4__3_3_3_3_slot_myfavSlot4 %}{% endblock %}</slot>
    </div>
{% endblock %}