.sw-cms-block-myfav-layout-column-5--1-1-1-1-1 {
    display: flex;
    gap: 40px;

    .sw-cms-slot.sw-cms-slot-myfavSlot1 {
        flex-basis: 1;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot2 {
        flex-basis: 1;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot3 {
        flex-basis: 1;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot4 {
        flex-basis: 1;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot5 {
        flex-basis: 1;
    }
}