{% block sw_cms_block_myfav_listing_product %}
    <div class="sw-cms-block-myfav-listing-product">
        <slot name="mvproduct">{% block sw_cms_block_myfav_listing_product_slot_mvproduct %}{% endblock %}</slot>
    </div>
{% endblock %}