{% block sw_cms_block_myfav_listing_product %}
    <div class="sw-cms-preview-myfav-listing-product">
        <div>
            <h2>Myfav Listing Product</h2>
            <p>Detaillierte Artikelkarten im Artikel-Listing und auf Content-Seiten.</p>
        </div>
    </div>
{% endblock %}