{% block sw_cms_block_myfav_layout_column_2__4_8 %}
    <div class="sw-cms-block-myfav-layout-column-2--4-8">
        <slot name="myfavSlot1">{% block sw_cms_block_myfav_layout_column_2__4_8_slot_myfavSlot1 %}{% endblock %}</slot>
        <slot name="myfavSlot2">{% block sw_cms_block_myfav_layout_column_2__4_8_slot_myfavSlot2 %}{% endblock %}</slot>
    </div>
{% endblock %}