.sw-cms-block-myfav-layout-column-4--2-4-4-2 {
    display: flex;
    gap: 40px;

    .sw-cms-slot.sw-cms-slot-myfavSlot1 {
        width: 16.6%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot2 {
        width: 33.4%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot3 {
        width: 33.4%;
    }

    .sw-cms-slot.sw-cms-slot-myfavSlot4 {
        width: 16.6%;
    }
}