{% block block_myfav_listing_product %}
    {% set element = block.slots.getSlot('mvproduct') %}
    {% set columns = 1 %}

    <div data-cms-element-id="{{ element.id }}">
        {% block block_html_inner %}
            {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
