{% block sw_cms_block_myfav_layout_column_3__4_4_4 %}
    <div class="sw-cms-preview-myfav-layout-column-3--4-4-4">
        <div>
            <h2>Myfav Layout Column 4 vs 4 vs 4</h2>
            <p>Drei Spalten, nebeneinander ab Größe md (4, 4, 4).</p>
        </div>
    </div>
{% endblock %}