{% block cms_element_preview_myfav_listing_product %}
    <div class="sw-cms-el-preview-myfav-listing_product myfav-element-preview-container">
        <h1>Myfav Listing Product</h1>
        <p>Hier erscheint das Artikel-Element</p>
    </div>
{% endblock %}